@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div style="margin: 10%; text-align:center">
        
       <a id="link" onload="getLink()"> Get Feedback(API)</a>
        
    </div>
</div>
<script>
    function docReady(fn) {
        // see if DOM is already available
        if (document.readyState === "complete" || document.readyState === "interactive") {
            // call on next available tick
            setTimeout(fn, 1);
        } else {
            document.addEventListener("DOMContentLoaded", fn);
        }
    }    

    docReady(function () {
        // DOM is loaded and ready for manipulation here
        let link = document.getElementById('link');
        link.href = window.location.href + 'api/getfeedback/0/7';
        console.log('ready!')
    });
    
</script>